@use "../abstracts/" as *;

.grid-auto-fit {
  display: grid;
  column-gap: var(--grid-column-gap, $grid-gap);
  row-gap: var(--grid-row-gap, $grid-gap);
  grid-template-columns: repeat(auto-fit, minmax(min(18.56rem, 100%), 1fr));
}
