// global color tokens
$-clr-white: hsl(0, 0%, 100%);
$-clr-green-200: hsl(148, 38%, 91%);
$-clr-grey-500: hsl(186, 15%, 59%);
$-clr-green-600: hsl(169, 82%, 27%);
$-clr-grey-900: hsl(187, 24%, 22%);
$-clr-red-errors: hsl(0, 66%, 54%);

$light: (
  "neutral": (
    "100": $-clr-white,
    "500": $-clr-grey-500,
    "900": $-clr-grey-900,
  ),
  "accent": (
    "400": $-clr-red-errors,
  ),
  "primary": (
    "200": $-clr-green-200,
    "600": $-clr-green-600,
  ),
);

// $dark: (
//   "neutral": (
//     "1000": $-clr-white,
//     "900": $-clr-gray-100,
//     "800": $-clr-gray-200,
//     "700": $-clr-gray-300,
//     "600": $-clr-gray-400,
//     "500": $-clr-gray-500,
//     "400": $-clr-gray-600,
//     "300": $-clr-gray-700,
//     "200": $-clr-gray-800,
//     "100": $-clr-gray-900,
//     "000": $-clr-black,
//   ),
//   "accent": (
//     "900": $-clr-deeppink-900,
//     "800": $-clr-deeppink-800,
//     "700": $-clr-deeppink-700,
//     "600": $-clr-deeppink-600,
//     "500": $-clr-deeppink-500,
//     "400": $-clr-deeppink-400,
//     "300": $-clr-deeppink-300,
//     "200": $-clr-deeppink-200,
//     "100": $-clr-deeppink-100,
//   ),
//   "primary": (
//     "900": $-clr-skyblue-900,
//     "800": $-clr-skyblue-800,
//     "700": $-clr-skyblue-700,
//     "600": $-clr-skyblue-600,
//     "500": $-clr-skyblue-500,
//     "400": $-clr-skyblue-400,
//     "300": $-clr-skyblue-300,
//     "200": $-clr-skyblue-200,
//     "100": $-clr-skyblue-100,
//   ),
// );

// contextual color tokens
$color-neutral-100: var(--neutral-100);
$color-neutral-500: var(--neutral-500);
$color-neutral-900: var(--primary-900);

$color-primary-200: var(--primary-200);
$color-primary-600: var(--primary-600);

$color-accent-400: var(--accent-400);
