---
import Layout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
import Form from "../components/Form.astro";
import ToastMessage from "../components/ToastMessage.astro";
---

<Layout title="Frontend Mentor | Contact form">
  <ToastMessage />
  <div class="container flow">
    <Card title="Contact Us">
      <Form />
    </Card>
  </div>
</Layout>

<script type="module" src="/js/formValidation.js"></script>
