@font-face {
  font-family: "Karla";
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/static/Karla-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Karla";
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/static/Karla-Bold.ttf") format("truetype");
}
